/* CSS Animation Test Shapes - Body styles - Table of Contents
------------------------------------------------------------
1. Demo container
=================================================================================================
*/

/*1. Demo container
------------------------------------------------------------------------------------------------*/
.demo-box {
	padding: 3em;
	text-align: center;
}
.demo-box > div {
	margin: 0 auto;
}
